# Caddy Webserver config file

import helpers/*

apt.woomy.ovh {
	import log apt.woomy.ovh
	handle {
		root * /home/woomy/Services/Debian-repo
		file_server
	}
	handle /browser {
		redir https://apt.woomy.ovh/browser/ permanent
 	}
	handle_path /browser/* {
		root * /home/woomy/Services/Debian-repo
		file_server browse {
			index no.html
			hide index.html
		}
	}
}

files.woomy.ovh www.files.woomy.ovh {
	root * /home/woomy/Services/files.woomy.ovh
	file_server browse
}

gitea.woomy.ovh www.gitea.woomy.ovh {
	reverse_proxy localhost:3000
}

bitwarden.woomy.ovh www.bitwarden.woomy.ovh {
	reverse_proxy localhost:8080
}

nextcloud.woomy.ovh www.nextcloud.woomy.ovh {
	header "Strict-Transport-Security" "max-age=15552000; includeSubDomains"
	reverse_proxy localhost:8000
}

rss.woomy.ovh www.rss.woomy.ovh {
	reverse_proxy localhost:8888
}
