# Caddy Webserver config file

apt.woomy.ovh {
	root * /home/woomy/Services/Debian-repo
	file_server
}

files.woomy.ovh www.files.woomy.ovh {
	root * /home/woomy/files
	file_server browse
}

gitea.woomy.ovh www.gitea.woomy.ovh {
	reverse_proxy localhost:3000
}

bitwarden.woomy.ovh www.bitwarden.woomy.ovh {
	reverse_proxy localhost:8080
}

nextcloud.woomy.ovh www.nextcloud.woomy.ovh {
	reverse_proxy localhost:8000
}

rss.woomy.ovh www.rss.woomy.ovh {
	reverse_proxy localhost:8888
}

deb.mocha-os.xyz {
	root * /home/mochaos/files
	file_server browse
}
